# from https://github.com/github/gitignore/blob/master/Erlang.gitignore
.eunit
deps
*.o
*.beam
*.plt
_rel
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

.rebar3
_*
*.swp
*.swo
.erlang.cookie
ebin
log
logs
_build
.idea
rebar3.crashdump
